doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/grid.css")
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2017