* {
  border-radius: 5px;
  box-sizing: border-box;
}

body{
    background-color: rgb(183, 183, 224);
}
body > *{
    width: 80%;
    margin: 20px auto;
}
#formContainer > * > *{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
#view1,#view2{
    display: none;
} 
#view1 > div {
    background-color: white;
}
#view2 > p {
  background-color: white;
}
.myBtn{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
#info{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}